@import url(./__logo/lead__logo.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
@import url(./__text/lead__text.css);
@import url(./__figure/lead__figure.css);

.lead  {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 984px;
    padding: 56px 0 0 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        width: calc(928/1024*100vw);
        padding: calc(48/1024*100vw) 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding: calc(48/768*100vw) 0 0 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead {
        width: 100%;
        padding: 10.625vw 0 0 0;
    }
}

@media screen and (max-width: 424px) {
    .lead {
        width: 100%;
        padding: calc(48/320*100vw) 0 0 0;
        margin:0;
    }
}