.cover__subtitle {
    margin: 32px 0 0;
    font-size: 18px;
    line-height: calc(22/18);
    text-align: center;
    width: 360px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: calc(288/320*100vw);
        font-size: 14px;
        line-height: calc(16/14);
        margin: 16px 0 0;
    }
}