.lang-list__link {
  font-size: 24px;
  line-height: 1.167;
  color: white;
  text-decoration: none;
  transition: opacity .5s cubic-bezier(.27,.64,.81,.75);
}

.lang-list__link:hover {
  opacity: .8;
}

.lang-list__link:first-of-type {
  margin: 0 18px 0 0;
}

@media screen and (max-width: 320px) {
  .lang-list__link {
      font-size: 18px;
      line-height: 1.33;
  } 
}