@import url(./__logo/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    margin: 28px auto 0;
}

@media screen and (min-width: 1280px) {
    .header {
        width: calc(1184/1280*100vw);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: calc(928/1024*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: calc(720/768*100vw);
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .header {
        width: 92vw;
        margin: 4.7vw auto 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .header {
        width: calc(288/320*100vw);
        margin: calc(16/320*100vw) auto 0;
    }
}