.place__name {
    font-size: 72px;
    line-height: calc(76/72);
    margin: 0;
    font-weight: 900;
    align-self: start;
    justify-self: start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__name {
        font-size: 42px;
        line-height: calc(46/42);
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place__name {
        font-size: 35px;
        line-height: calc(38/35);
    }
}

@media screen and (max-width: 424px) {
    .place__name {
        font-size: 32px;
        line-height: calc(35/32);
    }
}