@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__properties-list/intro__properties-list.css);
@import url(./__property/intro__property.css);
@import url(./__property/_normal/intro__property_normal.css);

.intro {
    color: white;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .intro {
        width: calc(690/1280*100vw);
        margin: calc(92/1280*100vw) calc(442/1280*100vw) calc(92/1280*100vw) calc(148/1280*100vw);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: calc(690/1024*100vw);
        margin: calc(92/1024*100vw) calc(286/1024*100vw) calc(92/1024*100vw) calc(48/1024*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: calc(720/768*100vw);
        margin: calc(88/768*100vw) auto;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .intro {
        width: 91.875vw;
        margin: 15.73vw auto;
    }
}

@media screen and (max-width: 424px) {
    .intro {
        width: 90vw;
        margin: 20vw auto;
    }
}