@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
    width: 1184px;
    height: 740px;
    color: white;
    margin: 0 auto 92px;
    position: relative;
}

@media screen and (max-width: 1279px) and (min-width:1024px) {
    .cover {
        width: 100%;
        height: calc(640/1024*100vw);
        margin: 0 0 calc(92/1024*100vw);
    }
}

@media screen and (max-width: 1023px) and (min-width:768px) {
    .cover {
        width: 100%;
        height: calc(480/768*100vw);
        margin: 0 0 calc(88/768*100vw);
    }
}

@media screen and (max-width: 767px) and (min-width:425px) {
    .cover {
        width: 100%;
        height: 70vw;
        margin: 0 0 calc(70/425*100vw);
    }
}

@media screen and (max-width:424px) {
    .cover {
        width: 100%;
        height: calc(200/320*100vw);
        margin: 0 0 calc(64/320*100vw);
    }
}