.lead__text {
    align-self: flex-start;
    margin: 8px 0 0 0;
    font-size: 10px;
    line-height: 1.4;
    color: white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .lead__text {
        margin-left: calc(24/768*100vw);
    }
}

@media screen and (max-width: 320px) {
    .lead__text {
        margin-left: calc(16/320*100vw);
    }
}
