.cover__title {
    margin: 0;
    font-size: 72px;
    line-height: calc(76/72);
    font-weight: 900;
    text-align: center;
    width: 560px;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: calc(288/320*100vw);
        font-size: 32px;
        line-height: calc(35/32);
    }
}