@import url(./__links-list/footer__links-list.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__author/footer__author.css);
@import url(./_link-pos/footer__link-pos.css);

.footer {
    display: flex;
    justify-content:space-between;
    width: 1184px;
    margin: 0 auto 24px;
    font-size: 16px;
    line-height: calc(18/16);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: calc(928/1024*100vw);
        margin: 0 auto calc(24/1024*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: calc(720/768*100vw);
        margin: 0 auto calc(24/1024*100vw);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(186/320*100vw);
        margin: 0 calc(118/320*100vw) calc(24/320*100vw) calc(16/320*100vw);
        flex-direction: column;
        align-content: flex-start;
    }
}