@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter-web/inter.css);
@import url(../blocks/content/content.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lang-list/lang-list.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);