.intro__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
}

@media screen and (min-width: 1280px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.074;
        margin: 0 0 3.125vw 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.074;
        margin: 0 0 3.90625vw 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.074;
        margin: 0 0 5.2083vw 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .intro__title {
        font-size: 38px;
        line-height: 1.083;
        margin: 0 0 9.4118vw 0;
    }
}

@media screen and (max-width: 424px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09375;
        margin: 0 0 12.5vw 0;
    }
}